<launch>
  <arg name="record_lpsranges" default="true" />
  
  <group>
    <node pkg="lps_twr_serial" type="serialtalker" name="serialtalker" respawn="true" respawn_delay="5" output="screen"></node>
    <node pkg="lps_twr_tracker" type="locationtracker" name="locationtracker" respawn="true" respawn_delay="5"></node>
  </group>
  
  <node pkg="rosbag" type="record" name="rosbag_record_lpsranges"
        args=" -j -o /var/log/lpsdemo/ranges /lpsranges"
        if="$(arg record_lpsranges)" />

</launch>
